In [201]:
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt
import config as cf
from alpaca_trade_api.rest import REST, TimeFrame
from alpaca_trade_api.common import URL
from alpaca_trade_api.stream import Stream

In [202]:
base_urL= "https://paper-api.alpaca.markets"
base_url1 = "https://data.alpaca.markets"
alpaca_api_key = "PK2VVCQIOCPEDH6OSTTS"
alpaca_secret_key = "depW27g3IjSwAJEmlmZbH5Y1Vk4JY7UZCFingw54"

In [203]:
api = tradeapi.REST(key_id = alpaca_api_key, secret_key = alpaca_secret_key, base_url = base_urL, api_version = 'v2')

In [204]:
account = api.get_account()

In [205]:
print(account.id, account.equity, account.status)

a591b9e4-df81-4652-973d-ccf331202ca9 100000 ACTIVE

In [210]:
api.get_bars("AAPL", TimeFrame.Hour, "2021-06-08","2021-06-08",adjustment='raw').df

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-06-08 08:00:00+00:00,126.1000,126.3000,125.9600,126.300,42132,653,126.141174
2021-06-08 09:00:00+00:00,126.2700,126.4000,126.2200,126.380,21095,416,126.296306
2021-06-08 10:00:00+00:00,126.3800,126.6000,125.8400,126.490,54710,960,126.268487
2021-06-08 11:00:00+00:00,126.4400,126.8500,126.4000,126.830,205430,2650,126.687422
2021-06-08 12:00:00+00:00,126.4101,126.9500,126.3999,126.930,532138,4893,126.784605
2021-06-08 13:00:00+00:00,126.9200,128.4600,126.4485,127.025,18446023,140659,127.504824
2021-06-08 14:00:00+00:00,127.0200,127.6400,126.7800,127.135,13467138,100596,127.249910
2021-06-08 15:00:00+00:00,127.1400,127.4700,126.2101,126.610,10537352,79786,126.777499
2021-06-08 16:00:00+00:00,126.6100,126.8400,126.5300,126.825,5292907,41511,126.706467
2021-06-08 17:00:00+00:00,126.8200,126.9300,126.4300,126.701,4815737,40221,126.677503
2021-06-08 18:00:00+00:00,126.7072,127.3183,126.6700,127.285,5353391,39799,127.003577
2021-06-08 19:00:00+00:00,127.2900,127.4200,126.6800,126.740,9844780,73930,127.006240
2021-06-08 20:00:00+00:00,126.7400,126.8500,126.5400,126.660,5525890,2739,126.739271
2021-06-08 21:00:00+00:00,126.6900,126.8500,126.6500,126.660,156333,1011,126.741650
2021-06-08 22:00:00+00:00,126.6900,126.7400,126.6600,126.730,49252,308,126.706057
2021-06-08 23:00:00+00:00,126.7250,126.7600,126.6400,126.640,41430,418,126.711565

In [ ]:
apple_data = api.get_barset("AAPL","day",limit=100).df
print(apple_data.head())

In [ ]:
apple_data.columns = apple_data.columns.to_flat_index()
apple_data.columns = [x[1] for x in apple_data.columns]
apple_data.reset_index(inplace=True)
print(apple_data.head())

In [207]:
def process_bar(bar):
    print(bar)#process bar
    
bar_iter=api.get_bars_iter("AAPL",TimeFrame.Hour,"2021-06-08","2021-06-08",adjustment='raw')
for bar in bar_iter:
    process_bar(bar)

Bar({   'c': 126.3,
    'h': 126.3,
    'l': 125.96,
    'n': 653,
    'o': 126.1,
    't': '2021-06-08T08:00:00Z',
    'v': 42132,
    'vw': 126.141174})
Bar({   'c': 126.38,
    'h': 126.4,
    'l': 126.22,
    'n': 416,
    'o': 126.27,
    't': '2021-06-08T09:00:00Z',
    'v': 21095,
    'vw': 126.296306})
Bar({   'c': 126.49,
    'h': 126.6,
    'l': 125.84,
    'n': 960,
    'o': 126.38,
    't': '2021-06-08T10:00:00Z',
    'v': 54710,
    'vw': 126.268487})
Bar({   'c': 126.83,
    'h': 126.85,
    'l': 126.4,
    'n': 2650,
    'o': 126.44,
    't': '2021-06-08T11:00:00Z',
    'v': 205430,
    'vw': 126.687422})
Bar({   'c': 126.93,
    'h': 126.95,
    'l': 126.3999,
    'n': 4893,
    'o': 126.4101,
    't': '2021-06-08T12:00:00Z',
    'v': 532138,
    'vw': 126.784605})
Bar({   'c': 127.025,
    'h': 128.46,
    'l': 126.4485,
    'n': 140659,
    'o': 126.92,
    't': '2021-06-08T13:00:00Z',
    'v': 18446023,
    'vw': 127.504824})
Bar({   'c': 127.135,
    'h': 127.64,
    'l': 126.78,
    'n': 100596,
    'o': 127.02,
    't': '2021-06-08T14:00:00Z',
    'v': 13467138,
    'vw': 127.24991})
Bar({   'c': 126.61,
    'h': 127.47,
    'l': 126.2101,
    'n': 79786,
    'o': 127.14,
    't': '2021-06-08T15:00:00Z',
    'v': 10537352,
    'vw': 126.777499})
Bar({   'c': 126.825,
    'h': 126.84,
    'l': 126.53,
    'n': 41511,
    'o': 126.61,
    't': '2021-06-08T16:00:00Z',
    'v': 5292907,
    'vw': 126.706467})
Bar({   'c': 126.701,
    'h': 126.93,
    'l': 126.43,
    'n': 40221,
    'o': 126.82,
    't': '2021-06-08T17:00:00Z',
    'v': 4815737,
    'vw': 126.677503})
Bar({   'c': 127.285,
    'h': 127.3183,
    'l': 126.67,
    'n': 39799,
    'o': 126.7072,
    't': '2021-06-08T18:00:00Z',
    'v': 5353391,
    'vw': 127.003577})
Bar({   'c': 126.74,
    'h': 127.42,
    'l': 126.68,
    'n': 73930,
    'o': 127.29,
    't': '2021-06-08T19:00:00Z',
    'v': 9844780,
    'vw': 127.00624})
Bar({   'c': 126.66,
    'h': 126.85,
    'l': 126.54,
    'n': 2739,
    'o': 126.74,
    't': '2021-06-08T20:00:00Z',
    'v': 5525890,
    'vw': 126.739271})
Bar({   'c': 126.66,
    'h': 126.85,
    'l': 126.65,
    'n': 1011,
    'o': 126.69,
    't': '2021-06-08T21:00:00Z',
    'v': 156333,
    'vw': 126.74165})
Bar({   'c': 126.73,
    'h': 126.74,
    'l': 126.66,
    'n': 308,
    'o': 126.69,
    't': '2021-06-08T22:00:00Z',
    'v': 49252,
    'vw': 126.706057})
Bar({   'c': 126.64,
    'h': 126.76,
    'l': 126.64,
    'n': 418,
    'o': 126.725,
    't': '2021-06-08T23:00:00Z',
    'v': 41430,
    'vw': 126.711565})

In [208]:
api.submit_order("AAPL",1,"buy","market",'day')

Order({   'asset_class': 'us_equity',
    'asset_id': 'b0b6dd9d-8b9b-48a9-ba46-b9d54906e415',
    'canceled_at': None,
    'client_order_id': '22cfdef6-9003-47f2-8092-cff59276783b',
    'created_at': '2022-10-23T06:17:24.712456305Z',
    'expired_at': None,
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': 'aea0ddb9-4a32-48e9-ab1d-bd9564c15311',
    'legs': None,
    'limit_price': None,
    'notional': None,
    'order_class': '',
    'order_type': 'market',
    'qty': '1',
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': 'buy',
    'source': None,
    'status': 'accepted',
    'stop_price': None,
    'submitted_at': '2022-10-23T06:17:24.710983655Z',
    'subtag': None,
    'symbol': 'AAPL',
    'time_in_force': 'day',
    'trail_percent': None,
    'trail_price': None,
    'type': 'market',
    'updated_at': '2022-10-23T06:17:24.712456305Z'})

In [209]:
api.submit_order("TSLA",1,"sell","market","day")

Order({   'asset_class': 'us_equity',
    'asset_id': '8ccae427-5dd0-45b3-b5fe-7ba5e422c766',
    'canceled_at': None,
    'client_order_id': 'f2b72594-fe8e-4ffd-8348-2c45068ae875',
    'created_at': '2022-10-23T06:17:25.47052212Z',
    'expired_at': None,
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': '2fa2edb2-a34c-4acc-83e5-5a3ef41d3904',
    'legs': None,
    'limit_price': None,
    'notional': None,
    'order_class': '',
    'order_type': 'market',
    'qty': '1',
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': 'sell',
    'source': None,
    'status': 'accepted',
    'stop_price': None,
    'submitted_at': '2022-10-23T06:17:25.46946429Z',
    'subtag': None,
    'symbol': 'TSLA',
    'time_in_force': 'day',
    'trail_percent': None,
    'trail_price': None,
    'type': 'market',
    'updated_at': '2022-10-23T06:17:25.47052212Z'})

In [ ]:
aapl_position = api.get_position("AAPL")

In [190]:
api.get_quotes("APPL","2021-06-08","2021-06-08",limit=10).df

Empty DataFrame
Columns: []
Index: []

In [191]:
def process_quote(quote):
    print(quote)

In [192]:
quote_iter=api.get_quotes_iter("APPL","2021-06-08","2021-06-08",limit=10)
for quote in quote_iter:
    process_quote(quote)

In [193]:
api.get_trades("APPL","2021-06-08","2021-06-08",limit=10).df

Empty DataFrame
Columns: []
Index: []

In [194]:
def process_trade(trade):
    print(trade)

In [195]:
trades_iter = api.get_trades_iter("APPL","2021-06-08","2021-06-08",limit=10)
for trade in trades_iter:
    process_trade(trade)

In [196]:
async def trade_callback(t):
    print('trade',t)
    
async def quote_callback(q):
    print("quote",q)
    
#class instance
stream = Stream(<alpaca_api_key>,<alpaca_secret_key>,base_url=URL("https://paper-api.alpaca.markets"), data_feed='iex')

stream.subscribe_trades(trade_callback,"APPL")
stream.subscribe_quotes(quote_callback,"IBM")

stream.run()

SyntaxError: invalid syntax (2782138679.py, line 8)

AttributeError: 'BarsV2' object has no attribute 'columns'

In [116]:
plot = apple_data.plot(x = "time", y = "close", legend = False)
plot.set_xlabel("Date")
plot.set_ylabel("Apple close ($)")
plt.show()

AttributeError: 'generator' object has no attribute 'plot'